
#=======================#
# ps2mail configuration #
#=======================#

## no critic (RequireUseStrict);

%Conf = (

    ### General options

    debug => 0,    # 0   debug not enabled
                   # 1   do not send mails

    ### Address recognition options

    start_tag => '0\(ojo\)0\s*\{',
    end_tag   => '\}',

    # YajHFC Batch Printer and Mail plugin compatible tags
    fallback_tags_enabled => 1,
    fallback_start_tag    => '@@',
    fallback_end_tag      => '@@',

    # YajHFC's equivalent of "To:" tag
    # @@mailrecipient:...@@ or shortened one: @@mail:...@@
    mail_to_fallback_tag => 'mail(?:recipient)?\s?\:',

    ### E-mail delivery options

    bcc2sender   => 1,         # Send (1) or not (0) Bcc to originator
    bccExtension => 'Sent',    # Address extension to add to Bcc ('' to disable)

    dsn => 1,                  # 0   send DSN on delay and failure
                               # 1   same as "0" + send DSN on success

    mdn => 1,                  # Request (1) or not (0) MDN from recipients

    ### E-mail parts options

    # Use this address unless "From:" is recognized:
    default_from => Email::Address->new( 'ps2mail lpd filter', 'ps2mail@example.org' ),

    locale => 'ru_RU.UTF-8',    # Language of notification e-mails

    subject_notification => '⚠️ Не удалось отправить / Failed to send',

    subject => 'Заказанная корреспонденция / Ordered correspondence',

    # Text part of e-mail
    body => <<'END',

       Заказанная Вами корреспонденция находится в прикрепленном файле.
       The correspondence ordered by you is in the attachment.




Это сообщение было отправлено системой автоматической рассылки.
Если вы хотите отказаться от подписки,
сообщите об этом своему агенту или менеджеру.

This message has been sent to you by an automatic delivery service.
If you want to cancel the subscription,
please send a message to your agent or manager.

-- 
Sincerely, ps2mail
https://github.com/moisseev/ps2mail
END

);
